<div style="z-index: 1080 !important;" id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-body">
                <div>
                    <strong>Loading...</strong>
                </div>
            </div>
        </div>

    </div>
</div>